@charset "UTF-8";

/* --------------------------------
 * base
 * -------------------------------- */
html {
  font-size: 62.5%;
}
body {
  background: #dfd3c3 ;
  text-align: center;
  font-size: 1.4rem;
  font-family: Raleway, "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
}
/* *, *::before, *::after {
  box-sizing: border-box;
} */


/* --------------------------------
 * parts
 * -------------------------------- */
.heading {
  position: relative;
  display: inline-block;
  margin: 30px 0 15px;
  padding: 15px 0 15px;
  letter-spacing: 2px;
  font-size: 2rem;
  color: #333;
}
.heading::before,
.heading::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #999;
}
.heading::before {
  bottom: 5px;
}
.button {
  display: inline-block;
  width: 120px;
  padding: 15px;
  border-radius: 4px;
  background-color: #c7b198;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.2rem;
  margin-left: 15px;
  margin-right: 15px;
}
.button:hover {
  opacity: 0.9;
}
.button-showy {
  background-color: #596e79;
}
.button-ghost {
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.15);
}

.line-1{
  position: relative;
  top: 50%;  
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);    
}
/*--------------------------
 nav
 -------------------------- */

 nav {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;

background-color: #ffffff;
opacity: 0.9;
background-image: radial-gradient(#dedede 0.9px, #ffffff 0.9px);
background-size: 18px 18px;
}


/* Style nav links*/
nav a {
  color: black;
  padding: 12px 14px;
  text-decoration: none;
  font-family: 'Damion' ;
}


/* Change color on hover */
nav a:hover {
  background-color: #ddd;
  color: black;
}

.nav-window{
  background: #fff;
  margin: auto;

  border: 3px solid black;
}




/* --------------------------------
 * header
 * -------------------------------- */
.header {
  padding: 80px 0 80px 0;
  margin-top: 0;

 
}
.site-title-sub {
  margin: 0 0 30px;
  letter-spacing: 1px;
  font-size: 6rem;
  color: #fff;
}
.site-title-sub::before,
.site-title-sub::after {
  content: '';
  display: inline-block;
  width: 140px;
  height: 2px;
  margin: 0 30px;
  vertical-align: middle;
}
.site-title {
  margin: 35px 0 40px;
  font-size: 2.2rem;
  color: #ffffff;
}
.line-1{
 color: #ffffff;
}
.site-description {
  margin-bottom: 50px;
  color: #888;
  font-size: 1.6rem;
}
.buttons .button {
  margin: 10px;
}

.headerGit{
  position: relative;
}
.gitLogo{
  position: absolute;
  top: 0;
  left: 0;

}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
  }
  @keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
  }

/* --------------------------------
 * about
 * -------------------------------- */
.about {
 
  padding: 80px 30px;
  background-color: #fff;
  color: #333;
  display: flex;
  background-color: #fff;
opacity: 1;
background-image:  linear-gradient(#d5d5d5 1px, transparent 1px), linear-gradient(to right, #d5d5d5 1px, #f9f9f9 1px);
background-size: 20px 20px;
  
  

}
.about-text {
  
  /* margin: ; */
  line-height: 2.5;
}

.aboutAni{
  text-align: left;
  margin: 30px 50px 0px 50px;
 
  

}


/* --------------------------------
 * works
 * -------------------------------- */
.works {
  padding: 80px 0;

}
.works-wrapper {
  display: table;
  width: 100%;
  margin-top: 60px;
  table-layout: fixed;
}
.work-box {
  position: relative;
  display: table-cell;
 
}

.work-title{
  text-decoration: none;
  color: #fff;
  font-size: 2rem
 
}

a:link {
  text-decoration: none;
}

.work-box a {
  text-decoration: none;
}

.work-box img{
  border-radius: 5%;
}

.work-box img:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


/* --------------------------------
 * skills
 * -------------------------------- */
#skills{
  background-color: #fff;
opacity: 1;
background-image:  linear-gradient(#e0e0e1 1.2000000000000002px, transparent 1.2000000000000002px), linear-gradient(to right, #e0e0e1 1.2000000000000002px, #fdfdfd 1.2000000000000002px);
background-size: 24px 24px;
padding: 80px 30px;

}
 .skills {

 padding: 30px 20px;
  color: #333;
  
}
.skills-wrapper {
  display: table;
  width: 100%;
  margin: 50px auto 0;
  table-layout: fixed;
}
.skill-box {
  display: table-cell;
}


/* Skills section */
.skills ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.skills li {
  margin: 0 15px;
  color: black ;
  font-size: 40px;
}

.skills li:hover {
  color:grey;
}



/* window BEGIN */
a {
  text-decoration: none;
}

span {
  line-height: 9px;
  vertical-align: 50%;
}

.window {
  background: #fff;
  width: 70vw;
  
  margin: auto;
  margin-top: 2vh;
  padding-bottom: 2vh ;
  border: 3px solid black;
  border-radius: 6px;
  /* box-shadow: 0px 0px 20px black; */
}

.titlebar {
  background-color: #ffffff;
opacity: 0.8;
background-image: radial-gradient(#b1b1b1 0.8px, #ffffff 0.8px);
background-size: 16px 16px;
  color: black;
  font-size: 11pt;
  line-height: 20px;
  text-align: center;
  width: 100%;
  height: 30px;
  border-top: 1px solid #f3f1f3;
  border-bottom: 3px solid black;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  cursor: default;
}

.buttons {
  padding-left: 8px;
  padding-top: 10px;
  float: left;
  line-height: 0px;
  
}

/*.buttons:hover a {
  visibility: visible;
}*/

.close {
  background: grey;
  font-size: 9pt;
  width: 11px;
  height: 11px;

  border-radius: 50%;
  display: inline-block;
}


.closebutton {
  color: #fff;
  visibility: hidden;
  cursor: default;
}

.minimize {
  background: grey;
  font-size: 9pt;
  line-height: 11px;
  margin-left: 4px;
  width: 11px;
  height: 11px;

  border-radius: 50%;
  display: inline-block;
}


.minimizebutton {
  color: #9a5518;
  visibility: hidden;
  cursor: default;
}

.zoom {
  background: grey;
  font-size: 9pt;
  line-height: 11px;
  margin-left: 6px;
  width: 11px;
  height: 11px;

  border-radius: 50%;
  display: inline-block;
}



.zoombutton {
  color: #006519;
  visibility: hidden;
  cursor: default;
}

.content {
  padding: 10px;
}

/* window END */
/* content BEGIN */
h3 {
  margin-top: 0px;
}

/* content END */



/* --------------------------------
 * contact
 * -------------------------------- */
.contact {
  padding: 0px 0 50px 0;
}


#contact-container{
  flex-wrap: wrap;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}


#contact ul {
  display: flex;
  justify-content: center;
  list-style: none;

}

#contact li {
  list-style: none;
  margin-right: 20px;
  font-size: 40px;
}

#contact i {
  font-size: 40px;
  color: black;
}

#contact i:hover {
  color: grey;
}


.window-os {
  background: #fff;
  width: 45vw;
  height: 20vh;
  margin: auto;
  margin-top: 12.5vh;
  border: 1px solid black;
  box-shadow : 10px 10px 0 0 black;
  align-items: center;
 
}

/* --------------------------------
 * footer
 * -------------------------------- */
.footer {
  padding: 12px 0;
  font-size: 1.3rem;

}





/* --------------------------------
 * smart phone
 * -------------------------------- */
@media (max-width: 1024px) {
  body {
    background-image: none;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 1.3rem;
  }
  .heading {
    margin-top: 20px;
    font-size: 2.5rem;
  }
  .button:hover {
    opacity: 1;
  }

  /* --- header --- */
  .header {
    padding-top: 60px;
  }
  .site-title-sub {
    font-size: 1.7rem;
  }
  .site-title-sub::before,
  .site-title-sub::after {
    display: block;
    width: 80%;
    margin: 10px auto;
  }
  .site-title {
    margin-top: 35px;
    font-size: 5rem;
  }

  /* --- about --- */
  .about-text {
    line-height: 1.8;
  }

  /* --- works --- */
  .works-wrapper,
  .work-box {
    display: block;
  }
  .work-image {
    display: none;
  }
  .work-description {
    position: relative;
  }
  .work-box::after {
    top: 0;
    height: 100%;
    background-size: cover;
  }

  /* --- skills --- */
  .skills-wrapper,
  .skill-box {
    display: block;
  }
  .skill-box {
    margin: 40px auto;
  }
  .skill-text {
    margin: 0;
  }

   /* Skills Section */

   #skills {
    margin: 50px 0;
}

#skills ul {
    flex-wrap: wrap;
    padding: 0;
}

#skills li {
    margin: 0 15px;
}



/* Contact page */

#contact {
    margin: 20px 0;
   
}


  /* --- contact --- */


  .window-os {
   
    width: 70vw;
 

    margin-top: 12.5vh;
}
}

